.wrapper {
  font-size: 1.6rem;
  font-weight: 700;

  min-width: 100px;
  padding: 9px 16px;
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
  background-color: transparent;
  user-select: none;
  // cái này chất, 2 button cách nhau
  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

// Button types

.rounded {
  // colo cho custom rieng
  // color: rgba(22, 24, 35, 0.75);
  border-radius: 999px;
  border-color: rgba(22, 24, 35, 0.12);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  background-color: rgba(255, 255, 255, 1);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Button sizes

.small {
  min-width: 88px;
  padding: 4px 16px;
}

.medium {
}

.large {
  min-width: 140px;
  padding: 14px 16px;
}
